.banner{
width:620px;
height: 100px;
margin:7px auto;
padding-left:190px;
}

.border{
  width:100%;
  border: 1px solid black
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.strike{
text-decoration: line-through;
  text-decoration-color: red;
}

.flex-display{
  display: flex
}

.common-padding{
  padding-right:50px
}

.padding-top{
  padding-top:50px
}

.cart-total-card{  
margin:50px;
padding-left:40px
}